/*
 * css styles go here
 */

body {
  font-family: Helvetica,Arial,sans-serif;
}

a, a:visited {
  color: navy;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#header {
  padding: 4px;
}

#header .big {
  font-size:   140%;
  font-weight: bold;
}

#header .small {
  font-size:    90%;
  color:        grey;
  padding-left: 15px;
}

#nav {
  padding: 6px;
}

.site-footer {
  border-top: 2px solid;
  border-color: #003366;
}

.wrapper {
  background-color: #ffffff;
}

.footer-grid-container {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: auto auto auto;
  background-color: #f2f2f2;
  padding: 10px;
}

.footer-grid-item {
  background-color: #99ccff;
  color: #ffffff;
  border: 1px solid #003366;
  padding: 20px;
  font-size: 10px;
  text-align: center;
}
