/*
 * css styles go here
 */

body {
  font-family: Helvetica,Arial,sans-serif;
}

a, a:visited {
  color: navy;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#header {
  padding: 4px;
  background-color: #ff6600;
  border-bottom: 2px solid #800000;
}

#header .big {
  font-size:   140%;
  font-weight: bold;
}

#header .small {
  font-size:    90%;
  color: #ffff99;
  padding-left: 15px;
  text-shadow: 3px 2px #000000;
}

#nav {
  padding: 6px;
}

menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4CAF50;
}

page {
    float: left;
}

page a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #111;
}

.site-footer {
  border-top: 2px solid;
  border-color: #003366;
}

.wrapper {
  background-color: #ffffff;
}

.footer-grid-container {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: 33% 33% 33%;
  background-color: #f2f2f2;
  padding: 10px;
}

.footer-grid-item {
  background-color: #99ccff;
  color: #ffffff;
  border: 1px solid #003366;
  padding: 20px;
  font-size: 12px;
  text-align: center;
}
